.resize-drag {
  /* background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px; */
  touch-action: none;
  /* background: url('../dog.jpeg') no-repeat; */

  width: 120px;
  position: absolute;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  /* background: url('../images/bg.png') no-repeat; */
  background-size: cover;
  z-index: -1;
  transform: scale(-1, 1);
}

/* 背景？ */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  /* ぼかし */
  backdrop-filter: blur(15px);
}

.modal-content{
  background-color: white;
  width: 600px;
  height: 300px;
  margin: 15% auto;
  border: none;
  border-radius: 2rem;
  text-align:center;
}

#start-show {
  display: none;
  margin: auto;
}

#drop_text,#pdf_loader {
  font-size: 1rem;
  line-height: 300px;
  color: lightgrey;
}

.thumbnail {
  margin-left: 20px;
  margin-top: 30px;
  border: solid 2px lightgray;
  border-radius: 0.3rem;
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 400px;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}

#download-image {
	width: 150px;
	display: block;
	margin: 20px auto 0 auto;
	font-size: 13px;
	text-align: center;
